
* {
  box-sizing: border-box;
}

body {
  background: #F5F7FB;
  width: 80%;
  margin: 0 auto;
  padding: 0;
  font-family: 'Karla', sans-serif;
}

.app{  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quiz_title{
  font-family: Karla;
  font-size: 31px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: center;
  color: #293264;
  ;
}

.quiz_instruction{
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;

}

.startQuiz{
  width: 193px;
  height: 52px;
  background: #4D5B9E;
  border-radius: 15px;
  border: none;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #F5F7FB;
  margin-left: 1.7rem;

}

.question{
  display: flex;
  flex-flow: column;
  align-items: center;
  border-bottom: 0.794239px solid #DBDEF0;
  transform: rotate(-0.05deg);
}

.question-title{
  font-size: 16px;
  font-weight: 700;
  height: 19px;
  line-height: 19px;
  color: #293264;
  margin-bottom: 2rem;
}

.question-options{
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto;
  grid-gap: 2rem;
  margin-bottom: 1rem;
}

.option{
  list-style: none;
  border: 0.79px solid #4D5B9E;
  padding: 0.4rem;
  border-radius: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 12px;
  text-align: center;
  color: #293264;
  cursor: pointer;
}

.btn-div{
  margin-top: 2rem;
  text-align: center;  
}
.checkAnswers{
  color: #F5F7FB;
  width: 120px;
  height: 35px;
  left: 215px;
  top: 490px;
  background: #4D5B9E;
  border-radius: 10px;
  border: none;
 
}

.score{
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  margin-left: 10rem;

}

.newGame{
  color: #F5F7FB;
  width: 120px;
  height: 35px;
  left: 215px;
  top: 490px;
  background: #4D5B9E;
  border-radius: 10px;
  border: none;
  margin-left: 6rem;
  margin-top: 0.5rem;
 
}

.loading{
  font-family: Karla;
  font-size: 31px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: center;
  color: #293264; 
}